################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImageToTextDemo/ImageToTextDemo/bin/Debug/netstandard2.0
/ImageToTextDemo/ImageToTextDemo/obj
/ImageToTextDemo/ImageToTextDemo.Android/bin/Debug
/ImageToTextDemo/ImageToTextDemo.Android/obj
/ImageToTextDemo/ImageToTextDemo.iOS/obj
